<nav class="navbar sticky-top border-bottom border-secondary navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid mx-5 px-5">
    <img src="assets/png/logo.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <div class="navbar-nav gap-4">
        <a class="nav-link fw-bold">Adopt Kittens</a>
        <a class="nav-link fw-bold">Kitty Stories</a>
        <a class="nav-link fw-bold">About us</a>
        <a class="nav-link fw-bold">Blog</a>
        <a class="nav-link fw-bold">Contact</a>
      </div>
    </div>
  </div>
</nav>
