<nav class="navbar border-bottom navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid mx-md-5 px-md-5">
    <img class="mx-3" src="assets/png/logo.png">
    <button class="navbar-toggler" type="button" (click)="onDropdown()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end px-lg-0 px-4" [ngClass]="{show: isOpen}">
      <div class="navbar-nav gap-4">
        <a></a>
        <a class="nav-link fw-bold" href="#">Adopt Kittens</a>
        <a class="nav-link fw-bold" href="#">Kitty Stories</a>
        <a class="nav-link fw-bold" href="#">About us</a>
        <a class="nav-link fw-bold" href="#">Blog</a>
        <a class="nav-link fw-bold" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>
