<nav class="navbar border-bottom navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid mx-5 px-5">
    <img class="mx-3" src="assets/png/logo.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <div class="navbar-nav gap-4">
        <a class="nav-link fw-bold" href="#">Adopt Kittens</a>
        <a class="nav-link fw-bold" href="#">Kitty Stories</a>
        <a class="nav-link fw-bold" href="#">About us</a>
        <a class="nav-link fw-bold" href="#">Blog</a>
        <a class="nav-link fw-bold" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>
