<div class="container-fluid bg-dark">
  <div class="row g-0 pt-5 px-5 mx-5 justify-content-between">
    <div class="col-3">
      <img src="assets/png/logoWhite.png">
    </div>
    <div class="col-6">
      <ul class="nav justify-content-center">
        <li><a class="nav-link fw-bold footerText">Privacy Policy</a></li>
        <li><a class="nav-link fw-bold footerText">Terms & Conditions</a></li>
        <li><a class="nav-link fw-bold footerText">Blog</a></li>
        <li><a class="nav-link fw-bold footerText">Support</a></li>
      </ul>
    </div>
    <ul class="nav col-3 justify-content-end">
      <li><i class="bi bi-discord"></i></li>
      <li class="mx-4 px-2"><i class="bi bi-twitter"></i></li>
      <li><i class="bi bi-instagram"></i></li>
    </ul>
  </div>
  <div class="row pt-5 pb-3">
    <p class="text-center text-muted footerText">Copyright @ SmellyCat 2020</p>
  </div>
</div>
