<div class="container-fluid bg-dark">
  <div class="row g-0 pt-5 px-5 mx-5 justify-content-between">
    <div class="col-lg-3 text-center text-lg-start">
      <img src="assets/png/logoWhite.png">
    </div>
    <div class="col-lg-6">
      <ul class="nav justify-content-center">
        <li><a class="nav-link fw-bold footerText" href="#">Privacy Policy</a></li>
        <li><a class="nav-link fw-bold footerText" href="#">Terms & Conditions</a></li>
        <li><a class="nav-link fw-bold footerText" href="#">Blog</a></li>
        <li><a class="nav-link fw-bold footerText" href="#">Support</a></li>
      </ul>
    </div>
    <ul class="nav col-lg-3 justify-content-center justify-content-lg-end ">
      <li><i class="bi bi-discord"></i></li>
      <li class="mx-4 px-2"><i class="bi bi-twitter"></i></li>
      <li><i class="bi bi-instagram"></i></li>
    </ul>
  </div>
  <div class="row pt-5 pb-3">
    <p class="text-center text-muted footerText">Copyright @ SmellyCat 2020</p>
  </div>
</div>
