<div class="container-fluid bg-dark">
  <div class="row g-0 pt-5 px-5 mx-5">
    <div class="col-4">
      <img src="assets/png/logoWhite.png">
    </div>
    <div class="col-4">
      <ul class="nav justify-content-center">
        <li><a class="nav-link fw-bold">Privacy Policy</a></li>
        <li><a class="nav-link fw-bold">Terms & Conditions</a></li>
        <li><a class="nav-link fw-bold">Blog</a></li>
        <li><a class="nav-link fw-bold">Support</a></li>
      </ul>
    </div>
    <div class="col-4">
      <ul class="nav justify-content-end">
        <li><img src="assets/png/iconDiscord.png"></li>
        <li><img src="assets/png/iconTwitter.png"></li>
        <li><img src="assets/png/iconInsta.png"></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p class="text-center text-muted" style="font-size: small;">Copyright @ SmellyCat 2020</p>
  </div>
</div>
