.big-checkbox {
  width: 20px;
  height: 20px;
  border-color: black;
  border-width: 0.15rem;
}

.map-size {
  width: 476px;
  height: 416px;
  border-radius: 10px;
}

@media screen and (max-width: 992px){
  .map-size {
      width: 1000px;
  }
}

textarea {
  resize: none;
}

.col-form-label {
  font-size: small;
  font-weight: 900;
}

p {
  font-weight: 600;
}

h4 {
  font-weight: 900;
}
